.image-uploader {
  margin: 0 98px 0 0;
  display: flex;
  font-family: var(--roboto-bold);
  font-size: 15px;
}

.button-upload-wrapper {
  margin: 0 0 0 15px;
  color: var(--primary-color);
  vertical-align: bottom;
  display: flex;
  align-items: flex-end;
}

.label-text-field-edit {
  margin: 12px 0 0;
}

.input-upload-image {
  display: none;
}

.button-upload-icon:after {
  display: block;
  content: '';
  width: 25px;
  height: 40px;
  float: left;
  margin: -4px 0;
  background: url('../../../assets/images/icons/icon-upload.svg') no-repeat;
  background-size: 20px 20px;
}
