.tab-edit-wrapper {
  width: 100%;
  min-width: 300px;
  margin: 10px 10px 10px 0;
  background-color: var(--white);
  font-family: var(--roboto-bold);
  font-size: 15px;
  color: var(--dark-grey);
}

.tab-toolbar {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  gap: 15px;
}

.form-edit-user {
  padding: 20px 140px 0 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}

