.list-item {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 8px 10px;
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
}

.list-icon-wrapper {
  display: inline-block;
  max-width: 30px;
  max-height: 30px;
}

.list-icon {
  width: 100%;
  height: auto;
}
