.btn-cta {
  padding: 5px 60px;
  outline: none;
  border: none;
  font-size: 16px;
  color: var(--white);
}

.btn-add {
  background-color: var(--primary-color);
}

.btn-popper {
  max-width: 165px;
  margin-top: 2px;
  padding: 5px;
  text-align: left;
  background-color: var(--secondary-color);
}

.btn-popper:hover {
  background-color: var(--dark-grey);
}
