.tool-bar-wrapper {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: var(--roboto-bold);
  font-size: 17px;
  padding: 10px;
  color: var(--dark-grey);
  display: flex;
  min-width: 1200px;
  max-height: 45px;
  overflow: hidden;
  background-color: var(--white);
  border: 1px solid var(--common-border-color);
}

.button-icon-search {
  margin: 15px 0 0;
}
