.status {
  display: inline-block;
  padding: 5px 12px;
  font-family: var(--roboto-bold);
  border-radius: 7px;
  font-size: 15px;
}

.status-active {
  color: var(--light-green);
  background-color: var(--active-color);
}

.status-not-active {
  color: var(--light-red);
  background-color: var(--not-active-color);
}
