.main-header {
  padding: 20px 14px;
  font-family: var(--roboto-bold);
  font-size: 16px;
  color: var(--dark-grey);
}

.main-body {
  display: flex;
}

.app-content-wrapper {
  padding: 10px;
  width: 100%;
  background-color: var(--medium-grey);
  border: 1px solid var(--layout-border-color);
}
